body
{
    background-color: skyblue;
    color: white;
    margin: 0em;
    padding: 0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul 
{
    list-style: none;
}

ul li
{
    display: inline-block;
}
form 
{
    color:rgba(0,0,0,0.7);
    background-color: springgreen;
}